<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- 连接数据库的基本信息 -->
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">19970103</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/test2?useSSL=false</property>

		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<!-- 是否在控制台显示sql语句 -->
		<property name="hibernate.show_sql">false</property>
		<!-- 是否格式化显示的sql语句 -->
		<property name="hibernate.format_sql">true</property>

        <!-- 是否自动生成数据表的策略,create代表每次启动程序都重新创建数据表 -->
        <property name="hibernate.hbm2ddl.auto">create</property>
        
		<!-- 需要使用到的*.hbm.xml文件 -->
		<mapping resource="com/hbm/model/User.hbm.xml" />
		<mapping resource="com/hbm/model/Activity.hbm.xml" />
		<mapping resource="com/hbm/model/Item.hbm.xml" />
		<mapping resource="com/hbm/model/Member.hbm.xml" />
		<mapping resource="com/hbm/model/Message.hbm.xml" />

	</session-factory>
</hibernate-configuration>